#game-screen {
  width: 50%;
  min-width: 13em;
  margin: 0 auto;
  background-color: #004c00;
  padding: 1.5em 2em 2em;
  border: .2em solid #397f43;
  border-radius: 1em;
  background: url(../assets/bg2.jpg) bottom center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#game-screen h1, #game-screen h2, #game-screen h3, #game-screen h4 {
  margin: 0em 0em .4em;
  padding: 0em;
}

#game-screen svg {
  /* height: 9em; */
  /* width: 9em; */
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  z-index: 1;
}

.green {
  color: #3ab93a;
}

.red {
  color: #ff3a3a;
}

.blue {
  color: #3a3aff;
}

.yellow {
  color: #ffff3a;
}

.white {
  color: white;
}

.black {
  color: black;
}

.box {
  border: 1px solid #d4c900;
  padding: 0.5em;
  max-width: 6em;
  background: url(../assets/bg2.jpg) bottom center no-repeat;
}

#board-container {
  background-color: green;
  width: 9em;
  height: 9em;
  margin: 1em auto;
  padding: .3em;
  background: url(../assets/textures/seamless-wood1.jpg) bottom right repeat;
}

#game-screen table {
  border-collapse: collapse;
  top:  -9em;
  float: clear;
  position: relative;
}

.tile {
  height: 3em;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  padding: 0em;
  overflow: visible;
  position: relative;
  background: #afd172;
  background: url(../assets/bg2.jpg) top center no-repeat;

}

.dark {
  background: #68a45e;
  background: url(../assets/bg2.jpg) center center no-repeat;
}

.pawn {
  font-size: 200%;
  margin-top: -.15em;
}

.cell-label {
  font-family: Quattrocento;
  font-size: .7em;
  color: black;
  opacity: .5;
  padding: 0em;
  margin: 0;
  position: absolute;
  bottom: 0em;
  left: 0em;
  width: 100%;
  text-align: center;
}

#game-screen button {
  color: white;
  border-radius: 0.3em;
  border: none;
  margin: .2em 0em;
  width: 9em;
  background-color: #d4c900;
  font-family: Quattrocento;
  border: 0.15em solid #aaa100;
  font-size: 1em;
}

#game-screen .black_button {
  background-color: #000000;
  border-color: #444;
}

#game-screen .white_button {
  color: black;
  background-color: #fff;
  border-color: #aaa;
}

#game-over {
  width: 9em;
  margin: auto;
}

/* Responsive media breaks */
@media (max-width: 20em) and (max-height: 36em) {
  #game-screen {
    font-size: 80%
  }
}

@media (min-height: 30em) and (min-width: 26em) {
  #game-screen {
    font-size: 150%;
  }
}


@media (min-width: 50em) and (min-height:65em) {
  #game-screen {
    font-size: 200%
  }

}


@media (min-width: 35em) and (max-height:26em) {

  #game-screen {
    font-size: 80%;
  }

  #board-container {
    float:left
  }
  #moves, #game-over {
    float:right
  }
}

@media (min-width: 46em) and (max-height:26em) {

  #game-screen {
    font-size: 100%;

  }

  #board-container {
    float:left
  }
  #moves, #game-over {
    float:right
  }
}


@media (min-width: 60em) and (max-height:48em) {

  #game-screen {
    font-size: 150%
  }

  #board-container {
    float:left
  }
  #moves, #game-over {
    float:right
  }
}

@media (min-width: 75em) and (max-height:80em) {

  #game-screen {
    font-size: 200%;
    width: 50%;
    padding: 2em 6em;
  }

  #board-container {
    float:left;
    font-size:130%;
  }

  .tile{
    font-size:75%;
  }

  #moves, #game-over {
    float:right
  }

  .tile {
    height: 4em;
    width: 4em;
  }
}
