@import "welcome.css";
@import "setup.css";
@import "moves.css";
@import "gameboard.css";
@import "brain.css";

html {
  min-height: 100%;
  min-width: 16em;
}

body {
  background-color: #272621;
  background: url(../assets/textures/seamless-wood3.jpg) center center repeat;

  color: #d4c900;
  font-family: Quattrocento;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: Megrim, 'Sans Serif';
}

#app_screen {
  background: url(../assets/bg2.jpg) center center no-repeat;

  min-height: 100%;
  min-width: 100%;
  position: fixed;

  margin: 0em;
  left: 0em;
  top: 0em;
  text-align: center;
}

i {
  top: 0.25em;
  position: relative;
}

a {
  font-family: Megrim;
  text-decoration: underline;
  color: white;
}

a:hover {
  color: yellow;
}

input[type=text] {
  border: .1em solid #669966;
  background: #336633;
  opacity: .75;
  color: white;
}

input.ng-invalid {
  background-color: #a30020
}

label {
  text-align: left;
  display: block;
  margin: 1em;
}

fieldset {
  background: url(../assets/bg2.jpg) bottom center no-repeat; 
  border: .1em solid #336633;
  border-radius: .5em;
  margin: 1em auto;
  width: 75%;
}