@import "welcome.css";
@import "moves.css";
@import "gameboard.css";

html {
  min-height: 100%;
}

body {
  background: url(../assets/bg2.jpg) center center no-repeat;
  background-color: #012a26;
  color: #d4c900;
  font-family: Quattrocento;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: Megrim, 'Sans Serif';
}

#app_screen {
  min-height: 100%;
  min-width: 100%;
  position: fixed;

}

