#welcome_screen {
  border: .15em solid #397f43;
  border-radius: 1em;

  background-color: #004c00;
  background: url(../assets/bg2.jpg) bottom center no-repeat;

  padding: 0em 2em .8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}

#welcome_screen h1 {
  margin: .5em 0em;
}

#welcome_screen ul {
  list-style-type: none;
  padding: none;
}

ul.welcome_menu {
  padding: none;
  margin: 0;
  -webkit-padding-start: 0;
}


#welcome_screen button {
  color: white;
  border-radius: 0.3em;
  border: none;
  margin: .2em 0em;
  width: 15em;
  background-color: #d4c900;
  font-family: Quattrocento;
  border: 0.15em solid #aaa100;
  font-size: 1em;
}

#welcome_screen button:hover {
  border: 0.15em solid yellow;
}

/* Responsive media breaks */
@media (max-width: 20em) and (min-height:10em) {
  #welcome_screen {
    font-size: 80%;
  }
}

@media (min-width: 20em) and (max-width: 30em) and (min-height:10em) {
  #welcome_screen {
    font-size: 100%;
  }
}


@media (min-width: 30em) and (min-height:10em) {
  #welcome_screen {
    font-size: 150%;
  }
}

@media (min-width: 40em) and (min-height:30em) {
  #welcome_screen {
    font-size: 200%;
  }
}

@media (min-width: 78em) and (min-height:26em) {
  #welcome_screen {
    font-size: 400%;
  }
}