#welcome_screen {
  border: 2px solid #397f43;
  border-radius: 1em;

  background-color: #004c00;
  background: url(../assets/bg2.jpg) bottom center no-repeat;

  font-size: 200%;

  margin: 0 auto;

  padding: 0em 2em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}

#welcome_screen ul {
  list-style-type: none;
  padding: none;
}

ul.welcome_menu {
  padding: none;
  margin: 0;
  -webkit-padding-start: 0;
}


#welcome_screen button {
  color: white;
  border-radius: 0.3em;
  border: none;
  margin: .2em 0em;
  width: 15em;
  background-color: #d4c900;
  font-family: Quattrocento;
  border: 2px solid #aaa100;
  font-size: 0.65em;
}

#welcome_screen button:hover {
  border: 2px solid yellow;
}