<div>

  <table>

    <tr> <!--(Row 3)-->
      <td class="dark tile">a3</td> <!-- cell a3 of main board -->
      <td class="tile">b3</td> <!-- cell b3 of main board -->
      <td class="dark tile">c3</td> <!-- cell c3 of main board -->

      <td class="spacer" colspan="2" rowspan="3"></td> <!-- space between boards -->

      <td class="dark tile">a3</td> <!-- cell a3 of AI's board -->
      <td class="tile">b3</td> <!-- cell b3 of AI's board -->
      <td class="dark tile">c3</td> <!-- cell c3 of AI's board -->
    </tr>

    <tr> <!--(Row 2)-->
      <td class="tile">a2</td> <!-- cell a2 of main board -->
      <td class="dark tile">b2</td> <!-- cell b2 of main board -->
      <td class="tile">c2</td> <!-- cell c2 of main board -->

      <td class="tile">a2</td> <!-- cell a2 of AI's board -->
      <td class="dark tile">b2</td> <!-- cell b2 of AI's board -->
      <td class="tile">c2</td> <!-- cell c2 of AI's board -->
    </tr>

    <tr> <!--(Row 1)-->
      <td class="dark tile">a1</td> <!-- cell a1 of main board -->
      <td class="tile">b1</td> <!-- cell b1 of main board -->
      <td class="dark tile">c1</td> <!-- cell c1 of main board -->

      <td class="dark tile">a1</td> <!-- cell a1 of AI's board -->
      <td class="tile">b1</td> <!-- cell b1 of AI's board -->
      <td class="dark tile">c1</td> <!-- cell c1 of AI's board -->
    </tr>

    <tr>
      <td colspan="8">
        <label>
          <input type="checkbox" ng-model="showBoxes">Show box contents
        </label>
      </td>
    </tr>

    <tr ng-show="showBoxes">
      <td colspan="8">
        <h3>Box contents</h3>
      </td>
    </tr>

    <tr ng-show="showBoxes" ng-repeat="row in range(6) track by $index">

      <td colspan="2" class="box">

        {{boxes[0 + (4 * $index)].turn}}
        <span ng-repeat="move in boxes[0 + (4 * $index)].moves" class="{{move}}"><i class="material-icons">forward</i></span>
      </td>
      <td colspan="2" class="box">
        {{boxes[1 + (4 * $index)].turn}}
        <span ng-repeat="move in boxes[1 + (4 * $index)].moves" class="{{move}}"><i class="material-icons">forward</i></span>
      </td>
      <td colspan="2" class="box">
        {{boxes[2 + (4 * $index)].turn}}
        <span ng-repeat="move in boxes[2 + (4 * $index)].moves" class="{{move}}"><i class="material-icons">forward</i></span>
      </td>
      <td colspan="2" class="box">
        {{boxes[3 + (4 * $index)].turn}}
        <span ng-repeat="move in boxes[3 + (4 * $index)].moves" class="{{move}}"><i class="material-icons">forward</i></span>
      </td>

    </tr>






  </table>

</div>