<div class="hxp-brain-{{player}}">

  <span class="hxp-brain-board-moves" ng-repeat="b in learningStates">

    <span class="move-1-on" ng-if="b.moves.length > 0">&bullet;</span>
    <span class="move-1-off" ng-if="b.moves.length < 1">&bullet;</span>

    <span class="move-2-on" ng-if="b.moves.length > 1">&bullet;</span>
    <span class="move-2-off" ng-if="b.moves.length < 2">&bullet;</span>

    <span class="move-3-on" ng-if="b.moves.length > 2">&bullet;</span>
    <span class="move-3-off" ng-if="b.moves.length < 3">&bullet;</span>

    <span class="move-4-on" ng-if="b.moves.length > 3">&bullet;</span>
    <span class="move-4-off" ng-if="b.moves.length < 4">&bullet;</span>

  </span>

</div>