<table class="hxp-brain-{{player}}">

  <tr ng-repeat="(ks, s) in learningStates track by ks">
  <div class="hxp-brain-board-moves" ng-repeat="(kb, b) in s track by kb">

    <td class="move-1-on" ng-if="b.moves.length > 0">&bullet;</td>
    <td class="move-1-off" ng-if="b.moves.length < 1">&bullet;</td>

    <td class="move-2-on" ng-if="b.moves.length > 1">&bullet;</td>
    <td class="move-2-off" ng-if="b.moves.length < 2">&bullet;</td>

    <td class="move-3-on" ng-if="b.moves.length > 2">&bullet;</td>
    <td class="move-3-off" ng-if="b.moves.length < 3">&bullet;</td>

    <td class="move-4-on" ng-if="b.moves.length > 3">&bullet;</td>
    <td class="move-4-off" ng-if="b.moves.length < 4">&bullet;</td>

  </div>
</tr>
</table>