<div id="game-screen">


  <h1>{{i18n.APP_TITLE}}</h1>

  <hxp-game-header ng-show="!showLogicPlayer || showLogicPlayer == ''"
                   gamedata="game"
                   i18n="i18n"/>

  <hxp-board ng-show="!showLogicPlayer || showLogicPlayer == ''"
             boardstate="game.boardState"
             arrows="game.arrows" />

  <hxp-moves ng-show="!showLogicPlayer || showLogicPlayer == ''"
             gametype="gameType"
             gamedata="game"
             i18n="i18n"
             on-move="doMove(move)"
             on-ai-move="aiMove()"
             on-new-game="newGame()"
             on-show-black-logic="showLogic('B')"
             on-show-white-logic="showLogic('W')"
             on-return-to-main-menu="returnToMainMenu()" />

  <hxp-show-logic ng-show="showLogicPlayer && showLogicPlayer !== ''"
                  i18n="i18n"
                  player-name="game.players[showLogicPlayer].name"
                  boards="showLogicBoards"
                  player="showLogicPlayer"
                  on-hide-logic="showLogicPlayer = ''" />

</div>