<div class="board-container">
  <svg viewbox="0 0 9 9" width="9em" height="9em">

  <polyline ng-repeat="a in arrows" points="{{a.pointString}}" style="{{a.style}}" />

  </svg>

  <table class="board">

    <tr> <!--(Row 3)-->
      <td class="dark tile top-left">
        <div class="white pawn" ng-if="boardState.substr(6, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(6, 1) === 'B'">&#9823;</div>
        <div class="cell-label">a3</div>

      </td> <!-- cell a3 -->
      <td class="tile top-center">
        <div class="white pawn" ng-if="boardState.substr(7, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(7, 1) === 'B'">&#9823;</div>
        <div class="cell-label">b3</div>
      </td> <!-- cell b3 -->
      <td class="dark tile top-right">
        <div class="white pawn" ng-if="boardState.substr(8, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(8, 1) === 'B'">&#9823;</div>
        <div class="cell-label">c3</div>
      </td> <!-- cell c3 -->

    </tr>

    <tr> <!--(Row 2)-->
      <td class="tile middle-left">
        <div class="white pawn" ng-if="boardState.substr(3, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(3, 1) === 'B'">&#9823;</div>
        <div class="cell-label">a2</div>
      </td> <!-- cell a2 -->
      <td class="dark tile middle-center">
        <div class="white pawn" ng-if="boardState.substr(4, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(4, 1) === 'B'">&#9823;</div>
        <div class="cell-label">b2</div>
      </td> <!-- cell b2 -->
      <td class="tile middle-right">
        <div class="white pawn" ng-if="boardState.substr(5, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(5, 1) === 'B'">&#9823;</div>
        <div class="cell-label">c2</div>
      </td> <!-- cell c2 -->

    </tr>

    <tr> <!--(Row 1)-->
      <td class="dark tile bottom-left">
        <div class="white pawn" ng-if="boardState.substr(0, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(0, 1) === 'B'">&#9823;</div>
        <div class="cell-label">a1</div>
      </td> <!-- cell a1 -->
      <td class="tile bottom-center">
        <div class="white pawn" ng-if="boardState.substr(1, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(1, 1) === 'B'">&#9823;</div>
        <div class="cell-label">b1</div>
      </td> <!-- cell b1 -->
      <td class="dark tile bottom-right">
        <div class="white pawn" ng-if="boardState.substr(2, 1) === 'W'">&#9823;</div>
        <div class="black pawn" ng-if="boardState.substr(2, 1) === 'B'">&#9823;</div>
        <div class="cell-label">c1</div>
      </td> <!-- cell c1 -->
    </tr>

  </table>
</div>
