<div id="game-screen">

  <h1>{{i18n.APP_TITLE}}</h1>

  <hxp-game-header gamedata="game"
                   i18n="i18n"/>

  <hxp-board ng-show="showLogicPlayer == ''"
             boardstate="game.boardState"
             arrows="game.arrows" />

  <hxp-moves ng-show="showLogicPlayer == ''"
             gametype ="gameType"
             gamedata="game"
             i18n="i18n"
             on-move="doMove(move)"
             on-ai-move="aiMove()"
             on-new-game="newGame()"
             on-show-black-logic="showLogicPlayer = 'B'"
             on-return-to-main-menu="returnToMainMenu()" />

  <hxp-show-logic ng-hide="showLogicPlayer == ''"
                  i18n ="i18n"
                  game="game"
                  boards="showLogicBoards"
                  player="showLogicPlayer"
                  on-hide-logic="showLogicPlayer = ''" />

</div>

