<div id="game-screen">

  <h1>{{i18n.APP_TITLE}}</h1>

  <hxp-board gametype="gameType"
             gamedata="game"
             i18n="i18n"
             on-move="doMove(move)"
             on-ai-move="aiMove()"
             on-new-game="newGame()"
             on-return-to-main-menu="returnToMainMenu()">

  </hxp-board>

  <div class="brain-display">
    <hr>
    <h4>{{game.players['B'].name}}'s Brain:</h4>
    <hxp-brain i18n="i18n"
               player="player"
               learningstring="game.players['B'].learningStates">
  </div>

</div>

